@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Quando&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    html{
        font-family: "Inter", serif;
        background-color: #FFF7ED;
    }
}

.homepage{
    background: url(./assets/image-53.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 76.4vh;
}

.hero{
    background: url(./assets/image-54.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 250px;
}

.navlink{
    text-decoration: none;
}

.navlink.active{
    text-decoration: underline;
}

/* Vans */
.van-type {
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background-color: #FFEAD0;
    color: #4D4D4D;
    transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
    color: #FFEAD0;
}

.van-type:focus {
    outline: none;
}

.van-type.clear-filters {
    margin-left: -20px;
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    text-decoration: underline;
    background-color: transparent;
    color: #4D4D4D;
}

.van-type.selected {
    color: #FFEAD0;
}

.van-type.simple:hover, .van-type.simple.selected {
    background-color: #E17654;
}

.van-type.rugged:hover, .van-type.rugged.selected {
    background-color: #115E59;
}

.van-type.luxury:hover, .van-type.luxury.selected {
    background-color: #161616;
}

/* Host */
.select{
    text-decoration: underline;
}

.red {
    color: #cc0000;
}